{%  extends "base.html" %}
{% block title %}Register{%endblock%}

{% load static %}


{%block css%}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{%endblock%}

{% block content %}

<br>
<div class="container bg-white shadow-md p-5 form-layout">

    <h3>Create new Account</h3>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Register" class="btn btn-secondary w-100 btn-block p-2 btn-register">
    </form>
</div>

{% endblock  %}