{%  extends "base.html" %}
{%block title%}Checkout{%endblock%}

{% block content %}


<body>

<br>

<div class="container bg-white shadow-md p-5" style="width:500px; border-radius:20px;">

    <form id="form" method="POST" action='{% url "payment:complete_order" %}'>
    {%csrf_token%}
        <div>

            <h3><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Complete your order </h3>

            <p> Please enter in the relevant information below. </p>


            <hr>

            <br>

            {% csrf_token %}
            {{ shipping_address.as_p }}

        </div>

        <br>


        <button id="complete-order" type="submit" name="type_payment" value="stripe-payment" class="btn btn-primary navbar-btn text-white"> &nbsp; Pay with card
        </button>
        <button id="complete-order-crypto" type="submit" name="type_payment" value="crypto-payment" class="btn btn-primary navbar-btn text-white"> &nbsp; Pay with crypto
        </button>


        <br>


    </form>


</div>


<br>
<button id="buyCrypto">Купить Bitcoin</button>

  <script src="https://buy.ramp.network"></script>
  <script>
    document.getElementById("buyCrypto").addEventListener("click", () => {
      // Открываем виджет Ramp с необходимыми параметрами
      Ramp.instantiate({
        hostAppName: 'My App',
        hostLogoUrl: 'https://example.com/my-logo.png', // URL логотипа
        swapAmount: '100000', // сумма в центах, например 1000 означает $10.00
        swapAsset: 'BTC', // код для Bitcoin
        userAddress: '0xYourBitcoinAddress', // адрес кошелька для получения BTC
        fiatCurrency: 'USD', // валюта для фиата
        url: 'https://buy.ramp.network/', // URL виджета
      }).show();
    });
  </script>

</body>



{% endblock %}